.card {
    text-align: center;
    margin: 0 auto;
    z-index: 2;

    padding: 20px;
    border: none;
    border-radius: 29px;
    background: rgba(204, 245, 237, 0.8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

}

body {
    background-image: url(../img/back.png);
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(58, 104, 89);
    color: rgb(58, 104, 89);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    user-select: none;
}

.margin-top {
    margin-top: 200px;
}

.center {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.right {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-height: 80vh;
    max-width: 120vw;
}

.left {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    max-height: 80vh;
    max-width: 120vw;
}

.container {
    position: relative;
    z-index: 8;
}

h1 {
    color: rgb(58, 104, 89);
}

.btn-2084 {
    background-color: azure;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: rgb(58, 104, 89);
    font-weight: 400;
    margin-top: 10px;
}

:hover.btn-2084 {
    background-color: rgb(203, 228, 228);
}

.form-control {
    border-radius: 20px;
    background-color: azure;
}

img.emoji {
    height: 1em;
    width: 1em;

}

.shares {
    border: none;
    border-radius: 100px;
    background: rgba(204, 245, 237, 0.8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0px;
    margin: 0px;
}

.consoles {
    background-color: azure;
    border: none;

}

.console-block {
    
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bi {
    padding: 0px;
    margin: 0px;
}

i {
    margin: 0px;
    padding: 0px;
}

#blocklyDiv {
    border: none;
}

.blockys {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bi-line {
    font-size: 32px;
    margin: 0px;
    background: rgba(156, 182, 177, 0.8);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(1px);
    padding: 0px;
    -webkit-backdrop-filter: blur(1px);
    border-radius: 60px;
    padding: 4px 10px;
    margin: 10px;
    margin-top: 10px;
}

.play_area {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar{
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(1px);
}
.light{
    z-index: 30;
    position: fixed;
    bottom: 10px;
    left: 47%;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}
a{
    color: rgb(58, 104, 89);
}
.ranking-card{
    height: 400px;
    

}
.box{
    width: 64px;
    height: 64px;
    background-color: rgb(196, 255, 203);
    padding: 0px;
    padding-top: 16px;

    border:3px solid rgba(131, 131, 131, 0.501);
    border-radius: 8px;
    margin: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;

}
.margins{
    margin:0 auto;
    padding:0 auto;
}
.nums2{
    background-color: rgb(196, 255, 203);
}
.nums4{
    background-color: rgb(250, 196, 255);
}
.nums8{
    background-color: rgb(255, 231, 196);
}
.nums16{
    background-color: rgb(196, 208, 255);
}
.nums32{
    background-color: rgb(228, 196, 255);
}
.nums64{
    background-color: rgb(196, 248, 255);
}
.nums128{
    background-color: rgb(235, 196, 255);
}
.nums256{
    background-color: rgb(255, 196, 196);
}
.nums512{
    background-color: rgb(196, 227, 255);
}
.nums1024{
    background-color: rgb(221, 196, 255);
}
.nums2048{
    background-color: rgb(226, 98, 89);
}
.numsN{
    background: none;
    border: none;
    box-shadow: none;
}
.list-group-item{
    background-color: rgba(240, 248, 255, 0.611);
    border: none;
}