<!DOCTYPE html>
<html lang="en">



<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

    <meta property="og:title" content="Gazeat" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yuju-fudan.github.io/Yuju-Fudan-Front/console.html" />
    <meta property="og:image" content="https://yuju-fudan.github.io/Yuju-Fudan-Front/img/ogp.png" />
    <meta property="og:site_name" content="Gazeat" />
    <meta property="og:description" content="2048をプログラムに解かせよう" />
    <!-- ※Twitter共通設定 -->
    <meta name="twitter:card" content="summary_large_image" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockly@1.0.0/blockly_compressed.min.js"></script> <!-- ライブラリを読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/blockly@1.0.0/blocks_compressed.min.js"></script> <!-- ライブラリを読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/blockly@1.0.0/python_compressed.min.js"></script> <!-- ライブラリを読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/blockly@1.0.0/msg/js/en.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="./js/generatorStub.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">

            <img src="img/logos.png" width="120px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>
    <div class="container">
        <div class="row">
        </div>
        <div class="row" style="margin-top:80px">
            <div class="col-md-8">
                <div class="card console-block">
                    <div class="card-body">
                        <div id="blocklyDiv" class="consoles" style="height: 480px; width: 600px;"></div>

                        <xml id="toolbox" style="display: none">
                            <category name="ゲーム情報" colour="0">
                                <block type="column"></block>
                                <block type="row"></block>
                                <block type="turn"></block>
                                <block type="score"></block>
                                <block type="max_of_board"></block>
                                <block type="min_of_board"></block>
                                <block type="get_number_of_value"></block>
                                <block type="get_value_from_locations"></block>
                                <block type="get_value_from_column"></block>
                                <block type="get_value_from_row"></block>
                                <block type="get_locations_from_value"></block>
                            </category>
                            <category name="演算" colour="180">
                                <block type="value"></block>
                                <block type="multiplication"></block>
                                <block type="addition"></block>
                                <block type="subtraction"></block>
                                <block type="division"></block>
                                <block type="remainder"></block>
                                <block type="random_number"></block>
                            </category>
                            <category name="配列" colour="225">
                                <block type="len_of_array"></block>
                                <block type="value_of_array"></block>
                                <block type="max_value_of_array"></block>
                                <block type="min_value_of_array"></block>
                                <block type="included_in_the_array"></block>
                            </category>
                            <category name="動作" colour="90">
                                <block type="move_to_left"></block>
                                <block type="move_to_up"></block>
                                <block type="move_to_down"></block>
                                <block type="move_to_right"></block>
                                <block type="move_randomly"></block>
                                <block type="invert_horizontally"></block>
                                <block type="invert_vertically"></block>
                                <block type="invert_diagonally"></block>
                            </category>
                            <category name="分岐" colour="270">
                                <block type="if"></block>
                                <block type="if_else"></block>
                                <block type="greater"></block>
                                <block type="smaller"></block>
                                <block type="more_than"></block>
                                <block type="less_than"></block>
                                <block type="equal"></block>
                                <block type="and"></block>
                                <block type="or"></block>
                                <block type="not"></block>
                                <block type="greater"></block>
                                <block type="smaller"></block>
                                <block type="more_than"></block>
                                <block type="less_than"></block>
                                <block type="equal"></block>
                                <block type="and"></block>
                                <block type="or"></block>
                                <block type="not"></block>
                            </category>

                        </xml>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card play_area play">

                            <div class="">
                                <div id="send_code">
                                    <div class="container-fluid center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" style="width: 256px;">
                                                    <div class="col-3">
                                                        <div id="a1" class="box nums0">
                                                            <p class="nums nums0" v-if="a1===0"></p>
                                                            <p class="nums nums0" v-else>{{a1}}</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-3">
                                                        <div id="b1" class="box nums0">
                                                            <p class="nums nums0" v-if="b1===0"></p>
                                                            <p class="nums nums0" v-else>{{b1}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="c1" class="box nums0">
                                                            <p class="nums nums0" v-if="c1===0"></p>
                                                            <p class="nums nums0" v-else>{{c1}}</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-3">
                                                        <div id="d1" class="box nums0">
                                                            <p class="nums nums0" v-if="d1===0"></p>
                                                            <p class="nums nums0" v-else>{{d1}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="a2" class="box nums0">
                                                            <p class="nums nums0" v-if="a2===0"></p>
                                                            <p class="nums nums0" v-else>{{a2}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="b2" class="box nums0">
                                                            <p class="nums nums0" v-if="b2===0"></p>
                                                            <p class="nums nums0" v-else>{{b2}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="c2" class="box nums0">
                                                            <p class="nums nums0" v-if="c2===0"></p>
                                                            <p class="nums nums0" v-else>{{c2}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="d2" class="box nums0">
                                                            <p class="nums nums0" v-if="d2===0"></p>
                                                            <p class="nums nums0" v-else>{{d2}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="a3" class="box nums0">
                                                            <p class="nums nums0" v-if="a3===0"></p>
                                                            <p class="nums nums0" v-else>{{a3}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="b3" class="box nums0">
                                                            <p class="nums nums0" v-if="b3===0"></p>
                                                            <p class="nums nums0" v-else>{{b3}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="c3" class="box nums0">
                                                            <p class="nums nums0" v-if="c3===0"></p>
                                                            <p class="nums nums0" v-else>{{c3}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="d3" class="box nums0">
                                                            <p class="nums nums0" v-if="d3===0"></p>
                                                            <p class="nums nums0" v-else>{{d3}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="a4" class="box nums0">
                                                            <p class="nums nums0" v-if="a4===0"></p>
                                                            <p class="nums nums0" v-else>{{a4}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="b4" class="box nums0">
                                                            <p class="nums nums0" v-if="b4===0"></p>
                                                            <p class="nums nums0" v-else>{{b4}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="c4" class="box nums0">
                                                            <p class="nums nums0" v-if="c4===0"></p>
                                                            <p class="nums nums0" v-else>{{c4}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div id="d4" class="box nums0">
                                                            <p class="nums nums0" v-if="d4===0"></p>
                                                            <p class="nums nums0" v-else>{{d4}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="send_code">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a v-on:click=greet><img src="img/play.png" width="100%"
                                                                alt=""></a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a v-on:click=greet><img src="img/rerun.png" width="100%"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="scores" style="margin-top: 10px;" class="col-md-12 center">
                                            <h3>Score {{score}}pt</h3>

                                        </div>


                                        <!-- <p>code is " {{ code }} ".</p> -->
                                    </div>
                                </div>
                                <div id="tweet">
                                    <div class="row">
                                        <a v-on:click=send_tweet class="canter">
                                            <div class="btn btn-2084 center">Share!</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <span class="light">2022 Yuju-Fudan</span>
    <img src="img/backright.png" class="right" alt="">
    <img src="img/backleft.png" class="left" alt="">

    <script>
        var tweet = new Vue({
            el: '#tweet',
            data: {
                score: 0
            },
            methods: {
                send_tweet: function (event) {
                    var s, url;
                    this.score = send_code.score
                    s = "あなたの考えたアルゴリズムが" + this.score + "点を取りました";
                    url = document.location.href;

                    if (s != "") {
                        if (s.length > 140) {
                            //文字数制限
                            alert("テキストが140字を超えています");
                        } else {
                            //投稿画面を開く
                            url = "http://twitter.com/share?hashtags=gazeat&url=" + escape(url) + "&text=" + s;
                            window.open(url, "_blank", "width=600,height=300");
                        }
                    }
                }
            }
        })
    </script>
    <script>
        var workspace = Blockly.inject('blocklyDiv',
            { toolbox: document.getElementById('toolbox') });
    </script>

    <script>
        var send_code = new Vue({
            el: '#send_code',
            data: {
                code: "",
                result: 0,
                a1: '',
                b1: '',
                c1: '',
                d1: '',
                a2: '',
                b2: '',
                c2: '',
                d2: '',
                a3: '',
                b3: '',
                c3: '',
                d3: '',
                a4: '',
                b4: '',
                c4: '',
                d4: '',
                step: 0,
                score: 0
            },
            methods: {
                greet: function (event) {
                    var code = Blockly.Python.workspaceToCode(workspace);
                    this.code = code
                    // POST
                    // let jwt_token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo3LCJ1c2VybmFtZSI6ImlkOC0xQGV4YW1wbGUuY29tIiwiZXhwIjoxNjQ3MDQ2OTUxLCJlbWFpbCI6ImlkOC0xQGV4YW1wbGUuY29tIn0.JgPInKsrVeEmxIgCZXRHJTCl1ihKFS3RDt6xJuJzQZY'
                    var params = new URLSearchParams();
                    // var header = {
                    //     'Authorization': 'JWT ' + localStorage.getItem('token')
                    //     // "Content-Type": "application/json",
                    //     // "Authorization": "JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo3LCJ1c2VybmFtZSI6ImlkOC0xQGV4YW1wbGUuY29tIiwiZXhwIjoxNjQ3MDQ2OTUxLCJlbWFpbCI6ImlkOC0xQGV4YW1wbGUuY29tIn0.JgPInKsrVeEmxIgCZXRHJTCl1ihKFS3RDt6xJuJzQZY"
                    // };
                    params.append("code_block", this.code)
                    console.log("params: ", params)
                    // axios.post('https://gazeat.herokuapp.com/api/post_game_status/', params, headers = header)
                    axios.post('https://gazeat.herokuapp.com/api/post_game_status/', params)
                        // axios.post('http://localhost:2048/api/post_game_status/', params)
                        .then((response) => {
                            console.log(response);
                            this.result = response;
                        })
                        .catch(error => console.log(error))
                    setInterval(() => {
                        if (this.step < Object.keys(this.result.data).length) {
                            this.a1 = this.result.data[this.step]["location"]["a1"]
                            this.b1 = this.result.data[this.step]["location"]["b1"]
                            this.c1 = this.result.data[this.step]["location"]["c1"]
                            this.d1 = this.result.data[this.step]["location"]["d1"]
                            this.a2 = this.result.data[this.step]["location"]["a2"]
                            this.b2 = this.result.data[this.step]["location"]["b2"]
                            this.c2 = this.result.data[this.step]["location"]["c2"]
                            this.d2 = this.result.data[this.step]["location"]["d2"]
                            this.a3 = this.result.data[this.step]["location"]["a3"]
                            this.b3 = this.result.data[this.step]["location"]["b3"]
                            this.c3 = this.result.data[this.step]["location"]["c3"]
                            this.d3 = this.result.data[this.step]["location"]["d3"]
                            this.a4 = this.result.data[this.step]["location"]["a4"]
                            this.b4 = this.result.data[this.step]["location"]["b4"]
                            this.c4 = this.result.data[this.step]["location"]["c4"]
                            this.d4 = this.result.data[this.step]["location"]["d4"]
                            var target = document.getElementById("a1");
                            target.className = "box nums" + this.a1;
                            var target = document.getElementById("b1");
                            target.className = "box nums" + this.b1;
                            var target = document.getElementById("c1");
                            target.className = "box nums" + this.c1;
                            var target = document.getElementById("d1");
                            target.className = "box nums" + this.d1;
                            var target = document.getElementById("a2");
                            target.className = "box nums" + this.a2;
                            var target = document.getElementById("b2");
                            target.className = "box nums" + this.b2;
                            var target = document.getElementById("c2");
                            target.className = "box nums" + this.c2;
                            var target = document.getElementById("d2");
                            target.className = "box nums" + this.d2;
                            var target = document.getElementById("a3");
                            target.className = "box nums" + this.a3;
                            var target = document.getElementById("b3");
                            target.className = "box nums" + this.b3;
                            var target = document.getElementById("c3");
                            target.className = "box nums" + this.c3;
                            var target = document.getElementById("d3");
                            target.className = "box nums" + this.d3;
                            var target = document.getElementById("a4");
                            target.className = "box nums" + this.a4;
                            var target = document.getElementById("b4");
                            target.className = "box nums" + this.b4;
                            var target = document.getElementById("c4");
                            target.className = "box nums" + this.c4;
                            var target = document.getElementById("d4");
                            target.className = "box nums" + this.d4;
                            this.score = this.result.data[this.step]["score"];
                            this.step = this.step + 1;
                            console.log(this.step)
                        } else {
                            clearInterval();
                        }
                    }, 100)
                }
            },
            mounted() {
                let jwt_token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo3LCJ1c2VybmFtZSI6ImlkOC0xQGV4YW1wbGUuY29tIiwiZXhwIjoxNjQ3MDQ2OTUxLCJlbWFpbCI6ImlkOC0xQGV4YW1wbGUuY29tIn0.JgPInKsrVeEmxIgCZXRHJTCl1ihKFS3RDt6xJuJzQZY'
                localStorage.setItem('token', jwt_token)
            }
        })
    </script>

    <script src="js/CodeBlocks.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>
